#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header a {
  color: white;
  font-weight: bold;
}

.App-header a:hover {
  color: white;
  text-decoration: underline;
}

.App-header code {
  background-color: #2d2d2d;
  color: #cccccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 5px solid gray;
}